.variables-container {
  border: 1px solid white;
  padding: 10px;
  height: auto;
  overflow-y: scroll;
  white-space: nowrap;
  width: fit-content;
}

.input-row-checkbox {
  margin-bottom: 0 !important;
}

.input-row-checkbox > input {
  margin-left: 10px;
}
